.card-body-stars {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 180px;
  height: 80px;
  border: 1px solid #000000;
  margin: 20px;
  padding: 10px;
  box-shadow: 1px 3px 6px 0px #5a4231;
  list-style: none;
}

.card-body-stars::before {
  width: 100%;
  content: 'Рейтинг Фильма';
  font-weight: bold;
  font-size: 18px;
}

.card-body-stars li {
  margin-top: 10px;
}